body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background-image: linear-gradient(to bottom right, white, green);
}

#current-movie {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#current-movie img {
    margin-right: 20px;
    box-shadow: 0 80px 85px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    height: 500px;
    width: 700px;
}

#films {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-left: 50px;
}
#films img{
    border-radius: 10px;
    height: 300px;
    width: 300px;
    box-shadow: 0 40px 45px 0 rgba(0,0,0,0.2);
}
img:hover{
    opacity: 0.5;
}
#buy-ticket {
    transition-duration: 0.4s;
    border-radius: 8px;
    width: 70px;
    height: 50px;
  }
  
#buy-ticket:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    border-radius: 8px;
    border: none;
  }
/* .container {
    padding: 2px 16px;
  } */